extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-md-8
		article
			p: a(href='/notes') &larr; back to the notes
			hr
			if !data.note
				h2 Invalid Note.
			else
				header
					h1= data.note.title
					h4(style='margin: 30px 0 20px 0')=data.note.content.full
					h5 Posted 
						if data.note.publishedDate
							| on #{data.note._.publishedDate.format('MMMM Do, YYYY')} 
						if data.note.tags
							| in 
							each cat, i in data.note.tags
								a(href='/notes/' + cat.key)= cat.name
								if i < data.note.tags.length - 1
									| , 
								else
									|
						if data.note.author
							|  by #{data.note.author.name.first}
