extends ../layouts/default

block intro
	.container
		h1= 'Sign up'
	
block content
	.container
		if user
			p You're already logged in.
		else

			form.contact-form(method="post").row.col-sm-8.col-md-6
				input(type='hidden', name='action', value='user.create')

				.form-group
					label Name

					.row
						.col-sm-6.col-md-6
							input.form-control.input-box(type='text', required, name='first', value=formData.first, placeholder='First Name')
						.col-sm-6.col-md-6
							input.form-control.input-box(type='text', required, name='last', value=formData.last, placeholder='Last Name')
				.form-group
					label Email
					input.form-control.input-box(type='email', required, name='email', value=formData.email, placeholder='Email')
				.form-group
					label Password
					.row
						.col-sm-6.col-md-6
							input.form-control.input-box(type='password', required, name='password', value=formData.password, placeholder='Password')
						.col-sm-6.col-md-6
							input.form-control.input-box(type='password', name='password_confirm', value=formData.password_confirm, placeholder='Retype password')
				.form-group
					label Phone
					input.form-control.input-box(type='tel', name='phone', value=formData.phone, data-mask='+7 (999) 999-99-99', placeholder='+7 (___) ___-__-__')
				.form-group
					label Birth Date
					input.form-control.input-box(type='date', name='birthDate', value=formData.birthDate)
					
				button(type='submit').btn.btn-success.btn-lg Sign up
